################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/EnterpriseKnowledgeAssistant.Api/obj
/src/EnterpriseKnowledgeAssistant.Service/obj
/.vs
